In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno

In [38]:
# Chargement des données
ins_prof_dut = pd.read_csv("../csv/fr-esr-insertion_professionnelle-dut_donnees_nationales.csv", sep=";")
ins_prof_lp = pd.read_csv("../csv//fr-esr-insertion_professionnelle-lp_donnees_nationales.csv", sep=";")
ins_prof_master = pd.read_csv("../csv/fr-esr-insertion_professionnelle-master_donnees_nationales.csv", sep=";")

In [39]:
# Agrégation de toutes les formations (DUT, LP, MASTER)
ins_prof = pd.concat([ins_prof_dut, ins_prof_lp, ins_prof_master], keys=["D", "L", "M"])

In [40]:
ins_prof.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5920 entries, ('D', 0) to ('M', 2924)
Data columns (total 86 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Année                                                                  5920 non-null   object
 1   Diplôme                                                                5920 non-null   object
 2   situation                                                              5920 non-null   object
 3   Genre                                                                  5920 non-null   object
 4   Disciplines                                                            5920 non-null   object
 5   Code du domaine                                                        5920 non-null   object
 6   Domaine                                                                5920 non-null   object
 7   Code de la discipline                                                  5920 non-null   object
 8   Discipline                                                             5920 non-null   object
 9   Sigle                                                                  932 non-null    object
 10  Spécialité                                                             1128 non-null   object
 11  Nombre de réponses                                                     5484 non-null   float64
 12  Taux d’insertion                                                       5890 non-null   object
 13  Part des emplois de niveau cadre ou profession intermédiaire           5890 non-null   object
 14  Part des emplois de niveau cadre                                       5761 non-null   object
 15  % emplois extérieurs à la région de l’université                       5890 non-null   object
 16  Part des emplois stables                                               5890 non-null   object
 17  Part des emplois à temps plein                                         5890 non-null   object
 18  Salaire net mensuel médian des emplois à temps plein                   5890 non-null   object
 19  Salaire brut annuel estimé                                             5890 non-null   object
 20  Premier quartile des salaires nets mensuels des emplois à temps plein  5890 non-null   object
 21  Dernier quartile des salaires nets mensuels des emplois à temps plein  5890 non-null   object
 22  Part des diplômés boursiers dans la discipline                         5676 non-null   object
 23  Part des femmes                                                        2154 non-null   object
 24  Taux de chômage national                                               5920 non-null   float64
 25  Salaire net mensuel médian national                                    5920 non-null   int64
 26  Code du secteur disciplinaire SISE                                     4013 non-null   object
 27  Salaire net mensuel national 1er quartile                              5861 non-null   float64
 28  Salaire net mensuel national 3ème quartile                             5861 non-null   float64
 29  cle_DISC                                                               5920 non-null   object
 30  Prof. libérale, indépendant,' chef d’entreprise                        860 non-null    object
 31  Fonctionnaire                                                          1502 non-null   object
 32  CDI                                                                    1502 non-null   object
 33  CDI de chantier ou CDI de mission                                      1079 non-null   object
 34  Contrat spécifique au doctorat                                         183 non-null    object
 35  CDD                                                                    1502 non-null   object
 36  Vacataire                                                              1502 non-null   object
 37  Intérimaire                                                            1502 non-null   object
 38  Intermittent du spectacle                                              1500 non-null   object
 39  Contrat de professionnalisa tion                                       860 non-null    object
 40  Emplois aidés (Contrat Initiative Emploi…)                             1484 non-null   object
 41  Volontariat international                                              1465 non-null   object
 42  Vous-même                                                              745 non-null    object
 43  La fonction publique (d''etat',' territoriale ou hospitalière)         433 non-null    object
 44  Une entreprise privée                                                  745 non-null    object
 45  Une entreprise publique                                                745 non-null    object
 46  Une association                                                        745 non-null    object
 47  Une personne exerçant une profession libérale ou un indépendant        745 non-null    object
 48  Organisation internationale ou une institution de l''Union européenne  297 non-null    object
 49  Société d''économie mixte                                              310 non-null    object
 50  Un particulier                                                         745 non-null    object
 51  Agriculture', sylviculture et pêche                                    432 non-null    object
 52  Industries (manufacturières,  extractives et autres)                   744 non-null    object
 53  Construction                                                           744 non-null    object
 54  Activités immobilières                                                 546 non-null    object
 55  Commerce, transports, héberg-ement et restauration                     744 non-null    object
 56  Information et communication                                           744 non-null    object
 57  Activités financières et d’assurance                                   744 non-null    object
 58  Activités spécialisées, scientifiques et techniques                    744 non-null    object
 59  Activités de services administratifs et de soutien                     744 non-null    object
 60  Enseignement                                                           744 non-null    object
 61  Administra tion publique (hors ens.)                                   174 non-null    object
 62  Santé humaine et action sociale                                        744 non-null    object
 63  Arts, spectacles et activités récréatives                              744 non-null    object
 64  Autres activités de service                                            744 non-null    object
 65  Agriculteur                                                            1036 non-null   object
 66  Artisan, commerçant,' chef d''entreprise                               602 non-null    object
 67  Profession libérale                                                    1087 non-null   object
 68  Personnel de catégorie A de la fonction publique                       1484 non-null   object
 69  Ingénieur', cadre, prof. libérales, prof. intellectuelles sup          860 non-null    object
 70  Personnel de catégorie B de la fonction publique                       1484 non-null   object
 71  Emploi de niveau intermédiaire : technicien, agent de maîtrise…        1484 non-null   object
 72  Personnel de catégorie C de la fonction publique                       1484 non-null   object
 73  Manœuvre, ouvrier                                                      1484 non-null   object
 74  Employé de bureau, de commerce, personnel de service                   3619 non-null   object
 75  Code du secteur disciplinaire                                          4792 non-null   object
 76  Secteur disciplinaire                                                  4792 non-null   object
 77  Administration publique (hors ens.)                                    570 non-null    object
 78  Prof. libérale, indépendant, chef d’entreprise                         642 non-null    object
 79  Contrat de professionnalisation                                        640 non-null    object
 80  La fonction publique (d'etat, territoriale ou hospitalière)            312 non-null    object
 81  Organisation internationale ou une institution de l'Union européenne   236 non-null    object
 82  Société d'économie mixte                                               236 non-null    object
 83  Agriculture, sylviculture et pêche                                     311 non-null    object
 84  Artisan, commerçant, chef d'entreprise                                 472 non-null    object
 85  Ingénieur, cadre, prof. libérales, prof. intellectuelles sup           624 non-null    object
dtypes: float64(4), int64(1), object(81)
memory usage: 4.0+ MB

In [41]:
ins_prof

       Année     Diplôme                 situation             Genre  \
D 0     2013         DUT  30 mois après le diplôme            hommes
  1     2017         DUT  18 mois après le diplôme  femmes et hommes
  2     2017         DUT  18 mois après le diplôme            hommes
  3     2017         DUT  18 mois après le diplôme  femmes et hommes
  4     2017         DUT  18 mois après le diplôme            femmes
...      ...         ...                       ...               ...
M 2920  2013  MASTER ENS  18 mois après le diplôme            femmes
  2921  2019  MASTER ENS  30 mois après le diplôme  femmes et hommes
  2922  2015  MASTER ENS  30 mois après le diplôme            femmes
  2923  2015  MASTER ENS  18 mois après le diplôme            hommes
  2924  2017  MASTER ENS  30 mois après le diplôme            femmes

                                              Disciplines Code du domaine  \
D 0     Droit, économie et gestion>Droit>Carrières jur...             DEG
  1     Sciences, technologies et santé>Informatique>I...             STS
  2     Sciences, technologies et santé>Informatique>I...             STS
  3     Sciences humaines et sociales>Information comm...             SHS
  4     Sciences humaines et sociales>Information comm...             SHS
...                                                   ...             ...
M 2920  Masters enseignement>Masters enseignement>Mast...            MEEF
  2921  Masters enseignement>Masters enseignement>Mast...            MEEF
  2922  Masters enseignement>Masters enseignement>Mast...            MEEF
  2923  Masters enseignement>Masters enseignement>Mast...            MEEF
  2924  Masters enseignement>Masters enseignement>Mast...            MEEF

                                Domaine Code de la discipline  \
D 0          Droit, économie et gestion                disc02
  1     Sciences, technologies et santé                disc16
  2     Sciences, technologies et santé                disc16
  3       Sciences humaines et sociales                disc10
  4       Sciences humaines et sociales                disc10
...                                 ...                   ...
M 2920             Masters enseignement                disc18
  2921             Masters enseignement                disc18
  2922             Masters enseignement                disc18
  2923             Masters enseignement                disc18
  2924             Masters enseignement                disc18

                       Discipline Sigle  ... Secteur disciplinaire  \
D 0                         Droit   NaN  ...                   NaN
  1                  Informatique   NaN  ...                   NaN
  2                  Informatique   NaN  ...                   NaN
  3     Information communication   NaN  ...                   NaN
  4     Information communication   NaN  ...                   NaN
...                           ...   ...  ...                   ...
M 2920       Masters enseignement   NaN  ...  Masters enseignement
  2921       Masters enseignement   NaN  ...  Masters enseignement
  2922       Masters enseignement   NaN  ...  Masters enseignement
  2923       Masters enseignement   NaN  ...  Masters enseignement
  2924       Masters enseignement   NaN  ...  Masters enseignement

        Administration publique (hors ens.)  \
D 0                                     NaN
  1                                     NaN
  2                                     NaN
  3                                     NaN
  4                                     NaN
...                                     ...
M 2920                                  NaN
  2921                                    2
  2922                                  NaN
  2923                                  NaN
  2924                                  NaN

       Prof. libérale, indépendant, chef d’entreprise  \
D 0                                               NaN
  1                                               NaN
  2                                               NaN
  3                                               NaN
  4                                               NaN
...                                               ...
M 2920                                            NaN
  2921                                              1
  2922                                            NaN
  2923                                            NaN
  2924                                            NaN

       Contrat de professionnalisation  \
D 0                                NaN
  1                                NaN
  2                                NaN
  3                                NaN
  4                                NaN
...                                ...
M 2920                             NaN
  2921                               0
  2922                             NaN
  2923                             NaN
  2924                             NaN

       La fonction publique (d'etat, territoriale ou hospitalière)  \
D 0                                                   NaN
  1                                                   NaN
  2                                                   NaN
  3                                                   NaN
  4                                                   NaN
...                                                   ...
M 2920                                                NaN
  2921                                                 89
  2922                                                NaN
  2923                                                NaN
  2924                                                NaN

       Organisation internationale ou une institution de l'Union européenne  \
D 0                                                   NaN
  1                                                   NaN
  2                                                   NaN
  3                                                   NaN
  4                                                   NaN
...                                                   ...
M 2920                                                NaN
  2921                                                  0
  2922                                                NaN
  2923                                                NaN
  2924                                                NaN

       Société d'économie mixte Agriculture, sylviculture et pêche  \
D 0                         NaN                                NaN
  1                         NaN                                NaN
  2                         NaN                                NaN
  3                         NaN                                NaN
  4                         NaN                                NaN
...                         ...                                ...
M 2920                      NaN                                NaN
  2921                        0                                  0
  2922                      NaN                                NaN
  2923                      NaN                                NaN
  2924                      NaN                                NaN

       Artisan, commerçant, chef d'entreprise  \
D 0                                       NaN
  1                                       NaN
  2                                       NaN
  3                                       NaN
  4                                       NaN
...                                       ...
M 2920                                    NaN
  2921                                      0
  2922                                    NaN
  2923                                    NaN
  2924                                    NaN

       Ingénieur, cadre, prof. libérales, prof. intellectuelles sup
D 0                                                   NaN
  1                                                   NaN
  2                                                   NaN
  3                                                   NaN
  4                                                   NaN
...                                                   ...
M 2920                                                NaN
  2921                                                  4
  2922                                                NaN
  2923                                                NaN
  2924                                                NaN

[5920 rows x 86 columns]

In [42]:
#ins_prof.set_index("Année", inplace=True)

In [43]:
# Liste des codes des domaines des diplômes
ins_prof["Code du domaine"].unique()

array(['DEG', 'STS', 'SHS', 'ALL', 'LLA', 'MEEF'], dtype=object)

In [44]:
# Délais d'insertion après diplôme
ins_prof["situation"].unique()

array(['30 mois après le diplôme', '18 mois après le diplôme'],
      dtype=object)

In [51]:
# Selection des colonnes des métiers + types de contrats
ins_prof.iloc[:, 30:85]

       Prof. libérale, indépendant,' chef d’entreprise Fonctionnaire  CDI  \
D 0                                                NaN           NaN  NaN
  1                                                  2             2   78
  2                                                NaN           NaN  NaN
  3                                                NaN           NaN  NaN
  4                                                NaN           NaN  NaN
...                                                ...           ...  ...
M 2920                                             NaN           NaN  NaN
  2921                                             NaN            76    8
  2922                                             NaN           NaN  NaN
  2923                                             NaN           NaN  NaN
  2924                                             NaN           NaN  NaN

       CDI de chantier ou CDI de mission Contrat spécifique au doctorat  CDD  \
D 0                                  NaN                            NaN  NaN
  1                                  NaN                            NaN   14
  2                                  NaN                            NaN  NaN
  3                                  NaN                            NaN  NaN
  4                                  NaN                            NaN  NaN
...                                  ...                            ...  ...
M 2920                               NaN                            NaN  NaN
  2921                                 0                            NaN   14
  2922                               NaN                            NaN  NaN
  2923                               NaN                            NaN  NaN
  2924                               NaN                            NaN  NaN

       Vacataire Intérimaire Intermittent du spectacle  \
D 0          NaN         NaN                       NaN
  1            0           2                         0
  2          NaN         NaN                       NaN
  3          NaN         NaN                       NaN
  4          NaN         NaN                       NaN
...          ...         ...                       ...
M 2920       NaN         NaN                       NaN
  2921         1           0                         0
  2922       NaN         NaN                       NaN
  2923       NaN         NaN                       NaN
  2924       NaN         NaN                       NaN

       Contrat de professionnalisa tion  ... Code du secteur disciplinaire  \
D 0                                 NaN  ...                           NaN
  1                                   3  ...                           NaN
  2                                 NaN  ...                           NaN
  3                                 NaN  ...                           NaN
  4                                 NaN  ...                           NaN
...                                 ...  ...                           ...
M 2920                              NaN  ...                        disc18
  2921                              NaN  ...                        disc18
  2922                              NaN  ...                        disc18
  2923                              NaN  ...                        disc18
  2924                              NaN  ...                        disc18

       Secteur disciplinaire Administration publique (hors ens.)  \
D 0                      NaN                                 NaN
  1                      NaN                                 NaN
  2                      NaN                                 NaN
  3                      NaN                                 NaN
  4                      NaN                                 NaN
...                      ...                                 ...
M 2920  Masters enseignement                                 NaN
  2921  Masters enseignement                                   2
  2922  Masters enseignement                                 NaN
  2923  Masters enseignement                                 NaN
  2924  Masters enseignement                                 NaN

       Prof. libérale, indépendant, chef d’entreprise  \
D 0                                               NaN
  1                                               NaN
  2                                               NaN
  3                                               NaN
  4                                               NaN
...                                               ...
M 2920                                            NaN
  2921                                              1
  2922                                            NaN
  2923                                            NaN
  2924                                            NaN

       Contrat de professionnalisation  \
D 0                                NaN
  1                                NaN
  2                                NaN
  3                                NaN
  4                                NaN
...                                ...
M 2920                             NaN
  2921                               0
  2922                             NaN
  2923                             NaN
  2924                             NaN

       La fonction publique (d'etat, territoriale ou hospitalière)  \
D 0                                                   NaN
  1                                                   NaN
  2                                                   NaN
  3                                                   NaN
  4                                                   NaN
...                                                   ...
M 2920                                                NaN
  2921                                                 89
  2922                                                NaN
  2923                                                NaN
  2924                                                NaN

       Organisation internationale ou une institution de l'Union européenne  \
D 0                                                   NaN
  1                                                   NaN
  2                                                   NaN
  3                                                   NaN
  4                                                   NaN
...                                                   ...
M 2920                                                NaN
  2921                                                  0
  2922                                                NaN
  2923                                                NaN
  2924                                                NaN

       Société d'économie mixte Agriculture, sylviculture et pêche  \
D 0                         NaN                                NaN
  1                         NaN                                NaN
  2                         NaN                                NaN
  3                         NaN                                NaN
  4                         NaN                                NaN
...                         ...                                ...
M 2920                      NaN                                NaN
  2921                        0                                  0
  2922                      NaN                                NaN
  2923                      NaN                                NaN
  2924                      NaN                                NaN

       Artisan, commerçant, chef d'entreprise
D 0                                       NaN
  1                                       NaN
  2                                       NaN
  3                                       NaN
  4                                       NaN
...                                       ...
M 2920                                    NaN
  2921                                      0
  2922                                    NaN
  2923                                    NaN
  2924                                    NaN

[5920 rows x 55 columns]